.todoList {
  margin-top: 4rem;
}

.todoList header {
  display: flex;
  justify-content: space-between;
}

.todoListItem {
  margin: 1rem 0;
  height: 400px;
  overflow-y: auto;
  scrollbar-color: var(--gray-500) transparent;
}