.todoItem {
  background: var(--gray-500);
  padding: 1rem;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  border-radius: 8px;
  border: 1px solid var(--gray-400);
}

.todoItem + .todoItem {
  margin: 1rem 0;
}

.title {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1rem;
  color: var(--gray-100);
  flex-grow: 1;
  word-break: break-word;
}

.buttonDelete {
  all: unset;
  margin-left: auto;
  cursor: pointer;
  flex-shrink: 0;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todoItemCheckbox {
  display: inline-flex;
  align-items: flex-start;
  position: relative;
  cursor: pointer;
  gap: 0.5rem;
}

.todoItemCheckbox input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.todoItemCheckbox .icon {
  width: 1.063rem;
  height: 1.063rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--blue-500);
  border-radius: 50%;
  color: transparent; /* Esconde o ícone inicialmente */
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.todoItemCheckbox .icon svg {
  visibility: hidden;
}

.todoItemCheckbox input:checked + .icon {
  background-color: var(--purple-dark-500);
  border: none;
  color: white; /* Mostra o ícone ao marcar */
}

.todoItemCheckbox input:checked + .icon svg {
  visibility: visible;
}

.todoItemCheckbox input:checked ~ .title{
  text-decoration: line-through;
  color: var(--gray-300);
}