.formContent {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: calc(0px - 1.5rem)
}

.formContent input {
  height: 3.375rem;
  width: 39.875rem;
  background: var(--gray-500);
  border: 1px solid var(--gray-700);
  border-radius: 8px;
  color: var(--white);
  padding: 1rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4rem;
}

.formContent input:focus {
  outline: 1px solid var(--gray-300);
}

.formContent button {
  width: 5.625rem;
  height: 3.25rem;
  border-radius: 8px;
  background: var(--blue-600);
  border: none;
  color: var(--gray-100);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1.4rem;
  cursor: pointer;
  padding: 1rem;
}