.mainContent {
  width: calc(51.111111111%);
  margin: auto;
}

@media (max-width: 1024px) {
  .mainContent {
    width: calc(70%);
    margin: auto;
  }
}

@media (max-width: 768px) {
  .mainContent {
    width: calc(90%);
    margin: auto;
  }
}